<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- multiple class test execution with TestNG
      This will run the first class and then will run the second class
       -->
     <class name="com.maven.testng.VerifyLoginTest"/>
<!-- <class name="com.maven.testng.VerifyUserManagementPageTest"/>  -->     
      <class name="com.maven.testng.VerifyJobTitlesPage"/>   
    <!-- <class name="com.maven.testng.VerifyPayGrades"/> -->  
      
   
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
