<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

   <!--    <class name="com.maven.testng.VerifyLoginTest"/>   -->
	 <!--     <class name="com.maven.testng.VerifyUserManagementPage"/>        -->
   <!--   <class name="com.maven.testng.VerifyJobTitlesPage"/>     -->
    <!-- <class name="com.maven.testng.VerifyPayGrades"/> -->  
    <!--     <class name="com.maven.testng.VerifyEmploymentStatus"/> -->  
      <!-- <class name="com.maven.testng.VerifyJobCategories"/> -->  
 	 <!--  <class name="com.maven.testng.VerifyWorkShifts"/>    
      <class name ="com.maven.testng.VerifyOrganizationLocations" /> -->  
    
    
     <!--   <class name="com.maven.testng.VerifyQualificationSkills"/> 
        <class name="com.maven.testng.VerifyQualificationEducation"/>  
       <class name ="com.maven.testng.VerifyQualificationLicenses"/>	
       <class name ="com.maven.testng.VerifyQualificationLanguages"/>
   
 	  <class name ="com.maven.testng.VerifyQualificationMemberships"/>
 	  
 	  <class name = "com.maven.testng.tests.UserManagementSearchUserTest"/>
 	  <class name="com.maven.testng.tests.UserManagementAddUser"></class>-->
 	  
 	  <class name ="com.maven.testng.tests.LoginTest"></class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
